<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MicroService A</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<p>Welcome to MicroServiceA!</p>
<form action="/" id="button-form" role="form" method="post" data-th-action="@{/greetings}">
    <button type="submit"  id="id" name="action" th:value="id">getGreetings</button>
</form>

<td th:text="${Message}"></td>

</body>

</html>